* {
    font-family: "Roboto", sans-serif;
}
.hcar {
    height: 300px;
    width: 250px;
}
.tred {
    height: 150px;
    width: 250px;
}
.cartim {
    height: 250px;
    width: 250px;
    margin-left: 70px;
}
.cartim2 {
    height: 70px;
    width: 70px;
    margin-left: 70px;
}
.checkout-form label {
    font-size: 12px;
    font-weight: 700;
}
.checkout-form input {
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}
.order-details label {
    font-size: 14px;
    font-weight: 700;
}
.order-details div {
    font-size: 15px;
}
.checked{
    color: #ffe400;

}

/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}
.rating-css input {
    display: none;
}
.rating-css input + label {
    font-size: 40px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: #b4afaf;
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

/* End of Star Rating */
