*{
    font-family: 'Roboto', sans-serif;
}
.hcar{
    height: 300px;
}
.tred{
    height: 150px;
}
.cartim{
    height: 250px;
    width: 250px;
    margin-left: 70px;
}
.cartim2{
    height: 70px;
    width: 70px;
    margin-left: 70px;
}
